body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}
.cal{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    text-align: centers;
    color: white;
    font-family:   Georgia, Times, serif;
}
#calculator{
    font-family: arial,sans-serif;
    background-color: rgb(41, 39, 39);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(66, 64, 64);
    color: white;
}
#key{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    /* border-radius: 50px; */
    border: none;
    background-color: rgb(95, 92, 92);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(143, 138, 138);
}
button:active{
    background-color: rgb(168, 162, 162);
}
.operator-btn{
    background-color: rgb(240, 175, 62);
}
.operator-btn:hover{
    background-color: rgb(241, 196, 118);
}
.operator-btn:active{
    background-color: rgb(237, 204, 146);
}